body,
#sidebar,
#header,
#main-content {
    display: grid;
}

body {
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    grid-template: repeat(6, 1fr) / 1fr 4fr;
}

#sidebar {
    grid-area: 1 / 1 / 7 / 1;
    background-color: aqua;
}

#header {
    grid-area: 1 / 2 / 1 / 2;
}

#main-content {
    grid-area: 2 / 2 / 7 / 2;
    background-color:aliceblue;
}